/********** Template CSS **********/
@import "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap";
:root {
    --primary: #CAB527;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
    --fontFamily: 'Jost', sans-serif;
    --oppositeColor: #400E32;
    --whiteColor: #FFFFFF;
    --headingColor: #1B1A17;
    --paragraphColor: #555555;
    --transition: all ease 0.8s;
    --fontSize: 16px
}

* {
    font-family: var(--fontFamily);
}

.bg-gold {
    background:var(--primary);
}

.text-gold{
    color: var(--primary);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}


/*** Header ***/
.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}


/*** Service ***/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -80px;
    right: -80px;
    border: 80px solid;
    transform: rotate(45deg);
    opacity: 1;
    transition: .5s;
}

.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}

.service-item:hover::after {
    opacity: 0;
}


/*** Roadmap ***/
.roadmap-carousel {
    position: relative;
}

.roadmap-carousel::before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: 20px;
    left: 0;
    border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin-left: -15px;
    background: #FFFFFF;
    border: 2px solid var(--primary);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
    display: block;
    width: 18px;
    height: 18px;
    background: var(--primary);
}

.roadmap-carousel .roadmap-item {
    position: relative;
    padding-top: 150px;
    text-align: center;
}

.roadmap-carousel .roadmap-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 115px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 111px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    background: var(--primary);
}

.roadmap-carousel .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.footer .btn.btn-square:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(17, 17, 17, .1);
}

.footer .copyright a {
    color: var(--primary);
}

.footer .copyright a:hover {
    color: var(--dark);
}

.single-features-card {
    background: rgba(105, 4, 152, .03);
    padding: 36px 28px;
    margin-bottom: 30px
}

.single-features-card.bg-color-1 {
    background: rgba(44, 178, 179, .05)
}

.single-features-card.bg-color-2 {
    background: rgba(79, 44, 179, .05)
}

.single-features-card.bg-color-3 {
    background: rgba(202, 98, 179, .05)
}

.single-features-card .features-icon {
    background-color: var(--whiteColor);
    width: 80px;
    height: 80px;
    line-height: 75px;
    border-radius: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 21px
}

.single-features-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 20px;
    font-weight: 700
}

.single-features-card p {
    line-height: 26px
}


.section-title {
    text-align: center;
    margin-bottom: 35px
}

.section-title.left-title {
    text-align: left
}

.section-title.left-title h2 {
    margin-bottom: 15px
}

.section-title.left-title p {
    line-height: 26px
}

.section-title .top-title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 10px
}

.section-title h2 {
    font-size: 1.5rem;
    font-weight: 700
}



.slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }


  .single-pricing-plan-card {
    position: relative;
    background: rgba(247, 96, 49, .3);
    -webkit-box-shadow: 0 0 30px rgba(85, 85, 85, .1);
    box-shadow: 0 0 30px rgba(85, 85, 85, .1);
    z-index: 1;
    padding: 50px 45px;
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    margin-bottom: 30px
}

.single-pricing-plan-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #fff;
    border-radius: 0 60px
}

.single-pricing-plan-card h3 {
    font-size: 20px;
    margin-bottom: 25px
}

.single-pricing-plan-card .pricing-box {
    background: #eaf9f4;
    border-radius: 50px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    padding: 14px 45px;
    display: inline-block;
    margin-bottom: 21px
}

.single-pricing-plan-card .pricing-box p {
    margin-bottom: 0;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.single-pricing-plan-card .pricing-box h4 {
    font-size: 32px;
    color: #F0A500;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.single-pricing-plan-card .pricing-list {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-bottom: 25px
}

.single-pricing-plan-card .pricing-list li {
    list-style-type: none;
    line-height: 36px
}

.single-pricing-plan-card .pricing-list li:last-child {
    margin-bottom: 0
}

.single-pricing-plan-card .default-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 199, 130, 0.1)), to(rgba(44, 184, 166, 0.1)));
    background: linear-gradient(180deg, rgba(45, 199, 130, 0.1) 0%, rgba(44, 184, 166, 0.1) 100%);
    color: #F0A500;
    width: 100%;
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    z-index: 1;
    position: relative
}

.single-pricing-plan-card .default-btn::before {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0A500), to(#F0A500));
    background: linear-gradient(180deg, #F0A500 0%, #F0A500 100%);
    opacity: 0;
    visibility: hidden;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.single-pricing-plan-card:hover {
    background: #F0A500;
    -webkit-box-shadow: 0 0 30px rgba(85, 85, 85, .1);
    box-shadow: 0 0 30px rgba(85, 85, 85, .1)
}

.single-pricing-plan-card:hover .default-btn {
    color: var(--whiteColor)
}

.single-pricing-plan-card:hover .default-btn::before {
    opacity: 1;
    visibility: visible
}

.single-pricing-plan-card:hover .pricing-box {
    background-color: #F0A500
}

.single-pricing-plan-card:hover .pricing-box h4 {
    color: white
}

.single-pricing-plan-card:hover .pricing-box p {
    color: white
}